In [7]:
print('Hello world')
print('This is our first class')
print('this is our third line')
print('this is our fourth line')

Hello world
This is our first class
this is our third line
this is our fourth line

In [ ]:
print('Hello world',end=' ')
print('Ali Khan')
print('chahat fateh Khan')

Hello world Ali Khan
chahat fateh Khan

In [ ]:
print('Fakhar','Bobzie','Rizwan')

Fakhar Bobzie Rizwan

In [ ]:
print('Fakhar','Bobzie','Rizwan', sep='------')
print('Fakhar','Bobzie','Rizwan', sep='------')
print('Fakhar','Bobzie','Rizwan', sep='\n')

Fakhar------Bobzie------Rizwan
Fakhar
Bobzie
Rizwan

In [25]:
print('This is our first line \nThis is our second line')

This is our first line
This is our second line

In [30]:
print('AbdulRehman','AliKhan', sep='------')

AbdulRehman------AliKhan

In [32]:
print(4+2)
print(4-2)
print(4*2)
print(4/2)

6
2
8
2.0

In [ ]:
print(23.3+2)
print(2+3)
print(2+3)

25.3
5

In [35]:
print('2+3')
print(2+3)

2+3
5

# Types of Data (Data Types)

- String --- Text
- Integer --- Whole Number
- Floating point data --- Decimal Number
- Boolean --- True and False

In [37]:
print('This is a text data')
print(234)
print(234.3)
print(True, False)

This is a text data
234
234.3
True False

In [41]:
print(type('ali khan'))
print(type(12))
print(type(12.3))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>