In [33]:
from pymongo import MongoClient
client = MongoClient("mongodb+srv://testuser:testuser@test-cluster.dzoyw.mongodb.net/?retryWrites=true&w=majority&appName=test-cluster")
db = client.get_database('test')
students = db["students"]

collection = db.get_collection('test_collection')
#for inserting a data
#collection.insert_one({'name': 'John', 'age': 30})

#updating a data
# collection.update_one({'name': 'Muneeb'}, {'$set': {'age': 21, 'rollNumber': 'STU0017'}})

#for finding a data
# documents = list(collection.find())
# for doc in documents:
#     print(doc['name'], doc['age'])
    
# students = [
#     { "name": "Ali Raza", "age": 20, "rollNumber": "STU001" },
#     { "name": "Fatima Noor", "age": 22, "rollNumber": "STU002" },
#     { "name": "Ahmed Khan", "age": 19, "rollNumber": "STU003" },
#     { "name": "Sara Malik", "age": 21, "rollNumber": "STU004" },
#     { "name": "Bilal Ahmed", "age": 23, "rollNumber": "STU005" },
#     { "name": "Ayesha Siddiqui", "age": 20, "rollNumber": "STU006" },
#     { "name": "Hassan Ali", "age": 18, "rollNumber": "STU007" },
#     { "name": "Zainab Fatima", "age": 21, "rollNumber": "STU008" },
#     { "name": "Usman Khalid", "age": 22, "rollNumber": "STU009" },
#     { "name": "Maryam Aslam", "age": 19, "rollNumber": "STU010" },
#     { "name": "Hamza Tariq", "age": 20, "rollNumber": "STU011" },
#     { "name": "Noor Bano", "age": 23, "rollNumber": "STU012" },
#     { "name": "Imran Shah", "age": 21, "rollNumber": "STU013" },
#     { "name": "Sana Javed", "age": 22, "rollNumber": "STU014" },
#     { "name": "Danish Farooq", "age": 20, "rollNumber": "STU015" }
# ]
# collection.insert_many(students)

documents = list(collection.find())
# print(f"Total documents fetched: documents",documents)
for doc in documents:
    print(f"Name: {doc['name']}, Age: {doc['age']}, Roll Number: {doc['rollNumber']}")

print("Documents fetched successfully.")

Name: John, Age: 31, Roll Number: STU0016
Name: Muneeb, Age: 21, Roll Number: STU0017
Name: Ali Raza, Age: 20, Roll Number: STU001
Name: Fatima Noor, Age: 22, Roll Number: STU002
Name: Ahmed Khan, Age: 19, Roll Number: STU003
Name: Sara Malik, Age: 21, Roll Number: STU004
Name: Bilal Ahmed, Age: 23, Roll Number: STU005
Name: Ayesha Siddiqui, Age: 20, Roll Number: STU006
Name: Hassan Ali, Age: 18, Roll Number: STU007
Name: Zainab Fatima, Age: 21, Roll Number: STU008
Name: Usman Khalid, Age: 22, Roll Number: STU009
Name: Maryam Aslam, Age: 19, Roll Number: STU010
Name: Hamza Tariq, Age: 20, Roll Number: STU011
Name: Noor Bano, Age: 23, Roll Number: STU012
Name: Imran Shah, Age: 21, Roll Number: STU013
Name: Sana Javed, Age: 22, Roll Number: STU014
Name: Danish Farooq, Age: 20, Roll Number: STU015
Documents fetched successfully.

In [37]:
from pymongo import MongoClient

client = MongoClient("mongodb+srv://testuser:testuser@test-cluster.dzoyw.mongodb.net/?retryWrites=true&w=majority&appName=test-cluster")

db = client.get_database('test')

collection = db.get_collection('test_collection')

for doc in collection.find():
    print(f'name:{doc['name']}, Age:{doc['age']}, Roll Number: {doc['rollNumber']}')

name:John, Age:31, Roll Number: STU0016
name:Muneeb, Age:21, Roll Number: STU0017
name:Ali Raza, Age:20, Roll Number: STU001
name:Fatima Noor, Age:22, Roll Number: STU002
name:Ahmed Khan, Age:19, Roll Number: STU003
name:Sara Malik, Age:21, Roll Number: STU004
name:Bilal Ahmed, Age:23, Roll Number: STU005
name:Ayesha Siddiqui, Age:20, Roll Number: STU006
name:Hassan Ali, Age:18, Roll Number: STU007
name:Zainab Fatima, Age:21, Roll Number: STU008
name:Usman Khalid, Age:22, Roll Number: STU009
name:Maryam Aslam, Age:19, Roll Number: STU010
name:Hamza Tariq, Age:20, Roll Number: STU011
name:Noor Bano, Age:23, Roll Number: STU012
name:Imran Shah, Age:21, Roll Number: STU013
name:Sana Javed, Age:22, Roll Number: STU014
name:Danish Farooq, Age:20, Roll Number: STU015

In [49]:
from pymongo import mongo_client

client = MongoClient("mongodb+srv://testuser:testuser@test-cluster.dzoyw.mongodb.net/?retryWrites=true&w=majority&appName=test-cluster")

db = client.get_database('test')
collections = client.get_database('test_collection')
# students = db["students"]

# students = [
#     {'name': 'Rizwan', 'age':'12', 'rollNumber':'STU0022'},
#     {'name': 'Fakhar', 'age':'98', 'rollNumber':'STU0023'}
    
# ]
# collection.insert_many(students)
# collection.insert_many()
# collection.insert_many({'name': 'Chahat', 'age':'30', 'rollNumber':'STU0020'})
# collection.insert_many({'name': 'Bobzie', 'age':'40', 'rollNumber':'STU0021'})

# collection.update_one({'name': 'Ameer'} , {'$set': {'age':21, 'rollNumber': 'STU0018'}})
for doc in collection.find():
    print(f'Name: {doc['name']}, Age: {doc['age']}, Roll Number: {doc['rollNumber']}')

Name: John, Age: 31, Roll Number: STU0016
Name: Muneeb, Age: 21, Roll Number: STU0017
Name: Ali Raza, Age: 20, Roll Number: STU001
Name: Fatima Noor, Age: 22, Roll Number: STU002
Name: Ahmed Khan, Age: 19, Roll Number: STU003
Name: Sara Malik, Age: 21, Roll Number: STU004
Name: Bilal Ahmed, Age: 23, Roll Number: STU005
Name: Ayesha Siddiqui, Age: 20, Roll Number: STU006
Name: Hassan Ali, Age: 18, Roll Number: STU007
Name: Zainab Fatima, Age: 21, Roll Number: STU008
Name: Usman Khalid, Age: 22, Roll Number: STU009
Name: Maryam Aslam, Age: 19, Roll Number: STU010
Name: Hamza Tariq, Age: 20, Roll Number: STU011
Name: Noor Bano, Age: 23, Roll Number: STU012
Name: Imran Shah, Age: 21, Roll Number: STU013
Name: Sana Javed, Age: 22, Roll Number: STU014
Name: Danish Farooq, Age: 20, Roll Number: STU015
Name: Ameer, Age: 21, Roll Number: STU0018
Name: Rizwan, Age: 12, Roll Number: STU0022
Name: Fakhar, Age: 98, Roll Number: STU0023